.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 12px 224px;
    gap: 80px;
    background-color: #FFE44D;
    align-items: center;
}
.inputAndBtn >input{
    border: none;
    padding-left: 20px;
    border-radius: 24px;
    width: 468px;
    height: 48px;
}
input:focus{
    outline: none;
}
.search{
    position: absolute;
    right: 20px;
    margin-top: 5px;
    top: 10px;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: white;
    text-align: center;
}
.inputAndBtn{
    display: flex;
    position: relative;
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 30px;
}